/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */



*{
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
}
.container{
    padding: 5px;
    text-align: center;
    border: 1px solid ;
    margin: auto;
    width: 76mm;
    height: 160mm;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* display: flex; */
    /* background-color: aqua; */
    /* font-size: 20px; */
}
img{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.isi{
    margin: auto;
    width: 420px;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
}
h4{
    margin: auto;
    margin-top: 70px;
    width: 400px;
}
input{
    width: 105px;
    height: 19px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}
.info{
    font-size: 15px;
}
.footer{
    margin-top: 50px;
    font-size: 15px;
}